.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  background-color: var(--gray-500);
  color: var(--gray-100);

  padding: 16px;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.task--complete {
  text-decoration: line-through;
  color: var(--gray-300);
}
